body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* Project Team additions start here */
.feed-row {
    margin: 0px;
    border: 1px solid;
}

/* .feed-row-height {
    height: 100%;
} */

.feed-col {
    align-self: center;
    /* border-left: 1px solid;
    border-right: 1px solid; */
    padding: 10px;
}

.feed-col-centering {
    align-self: center;
    text-align: center;
}
