{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Feed Events</h1>
</div>

<div class="container mt-3">
    <h2 class="text-light bg-secondary">Main Feed Data</h2>
    <div class="row feed-row">
        <div class="col feed-col">
                <select class="form-select me-3" style="display: inline-block;" id="selectBaby" onChange="feedSelectBaby(this.value)">
                    <option value="null" selected>Select Baby</option>
                    {% for baby in babies %}
                    <option value="{{ baby[0] }}">{{ baby[3] }} {{ baby[4] }}</option>
                    {% endfor %}
                </select>
            <button type="button" id="btnLeftBreast" class="btn btn-secondary" onclick="feedUpdateBreastSide(1)">Left
                Breast
                Feed</button>
            <button type="button" id="btnRightBreast" class="btn btn-secondary" onclick="feedUpdateBreastSide(2)">Right
                Breast
                Feed</button>
        </div>
        <div class="col feed-col">
            <div class="row">
                <div class="col feed-col-centering">
                    <button type="button" id="btnLeftPump" class="btn btn-secondary"
                        onclick="feedUpdatePumpSide(1)">Left
                        Pump</button>
                    <button type="button" id="btnRightPump" class="btn btn-secondary"
                        onclick="feedUpdatePumpSide(2)">Right
                        Pump</button>
                </div>
                <div class="col feed-col-centering">
                    <button type="button" id="btnBottle" class="btn btn-secondary"
                        onclick="feedUpdateBottleFormula(1)">Bottle</button>
                    <button type="button" id="btnFormula" class="btn btn-secondary"
                        onclick="feedUpdateBottleFormula(2)">Formula</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row feed-row">
        <div class="col feed-col">
                <button type="button" id="btnDurationStart" class="btn btn-secondary"
                    onclick="feedDurationStart()">Start</button>
                <button type="button" id="btnDurationStop" class="btn btn-secondary"
                    onclick="feedDurationStop()">Stop</button>
                <input id="textDurationEntry" type="number" name="btnDurationEntry" style="text-align: right;">
                <text>min</text>
        </div>
        <div class="col feed-col">
            <div class="row">
                <div class="col">
                    <h5>Begin</h5>
                    <div>
                        <input id="textQuantityBeginEntry" type="number" name="textQuantityBeginEntry"
                            style="text-align: right;" oninput="feedQuantityBeginChange(this.value)">
                        <text>ml</text>
                    </div>
                </div>
                <div class="col">
                    <h5>Final</h5>
                    <div>
                        <input id="textQuantityDiffEntry" type="number" name="textQuantityDiffEntry"
                            style="text-align: right;" oninput="feedQuantityDiffChange(this.value)">
                        <text>ml</text>
                    </div>
                </div>
                <div class="col">
                    <h5>End</h5>
                    <div>
                        <input id="textQuantityEndEntry" type="number" name="textQuantityEndEntry"
                            style="text-align: right;" oninput="feedQuantityEndChange(this.value)">
                        <text>ml</text>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="row feed-row">
        <div class="col feed-col">
            <div class="form-group">
                <label for="inputDateTime">Select a date and time:</label>
                <input type="datetime-local" id="inputDateTime" onChange="feedUpdateDateTime(this.value)" />
            </div>
        </div>
    </div> -->
</div>

<div class="container mt-3">
    <h2 class="text-light bg-secondary">Time</h2>
    <div class="form-group">
        <label for="inputDateTime">Select a date and time:</label>
        <input type="datetime-local" id="inputDateTime" onChange="feedUpdateDateTime(this.value)" />
    </div>
</div>

<div class="container mt-3">
    <h2 class="text-light bg-secondary">Comments</h2>
    <div class="form-group">
        <label for="comment">Comment:</label>
        <textarea class="form-control" rows="5" id="textComment" onChange="feedUpdateComment(this.value)"></textarea>
    </div>
</div>

<div class="container mt-3">
    <button type="button" id="btnDone" class="btn btn-success" onClick='feedAddFeedEvent(true)' disabled>Done</button>
    <button type="button" id="btnOneMore" class="btn btn-primary" onClick='feedAddFeedEvent(false)' disabled>One
        More</button>
</div>

<div class="container mt-3">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">DateTime</th>
                <th scope="col">Name</th>

                <th scope="col">Left Breast (min)</th>
                <th scope="col">Right Breast (min)</th>

                <th scope="col">Left Pump Qty (ml)</th>
                <th scope="col">Right Pump Qty (ml)</th>

                <th scope="col">Bottle Breast Qty (ml)</th>
                <th scope="col">Bottle Formula Qty (ml)</th>

                <th scope="col">Comment</th>
                <th scope="col">Delete</th>
                <th scope="col">Save</th>
            </tr>
        </thead>
        <tbody>
            {% set currEvent = 0 %}
            {% for event in recentEvents %}
            {% set currEvent = event %}
            <tr>
                <td><input type="datetime-local" value="{{ event[2] }}" /></td>
                <td>{{ event[1] }}</td>

                <td>{{ event[3] }}</td>
                <td>{{ event[4] }}</td>
                <td>{{ event[5] }}</td>

                <td>{{ event[6] }}</td>
                <td>{{ event[7] }}</td>
                <td>{{ event[8] }}</td>

                <td><textarea class="form-control" rows="1">{{ event[9] }}</textarea></td>
                <td><button type="button" class="btn btn-danger"
                        onClick="feedDeleteFeedEvent({{ event[0]|safe }})">Delete</button></td>
                <td><button type="button" class="btn btn-success" disabled
                        onClick="feedSaveFeedEvent({{ event|safe }})">Save</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- feed.feedEventID,\
babies.firstName || ' ' || babies.lastName as 'Baby',\
feed.feedDateTime as 'Time',\
feed.leftBreastDur as 'Left Breast, min',\
feed.rightBreastDur as 'Right Breast, min',\
feed.totalBreastDur as 'Total Breast, min',\
feed.leftPumpQty as 'Left Pump Qty',\
feed.rightPumpQty as 'Right Pump Qty',\
feed.totalPumpQty as 'Total Pump Qty',\
feed.bottleBreastQty as 'Bottle Breast Qty',\
feed.bottleBreastQty as 'Bottle Formulat Qty',\
feed.totalBottleQty as 'Total Bottle Qty',\
feed.feedComment as 'Comment' FROM feed\ -->

{% endblock %}

{% block scripts %}
<script src="/static/scripts/infanttracker-common.js"></script>
<script src="/static/scripts/infanttracker-feed.js" onload="feedSelectBaby({{ lastBaby }})"></script>
{% endblock %}