{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Feed Events</h1>
</div>

<div class="container mt-3">
    <h2 class="text-light bg-secondary">Main Feed Data</h2>
    <div class="row feed-row">
        <div class="col feed-col">
                <select class="form-select me-3" style="display: inline-block;" id="selectBaby" onChange="feedSelectBaby(this.value)">
                    <option value="null" selected>Select Baby</option>
                    {% for baby in babies %}
                    <option value="{{ baby[0] }}">{{ baby[3] }} {{ baby[4] }}</option>
                    {% endfor %}
                </select>
            <button type="button" id="btnLeftBreast" class="btn btn-secondary" onclick="feedUpdateBreastSide(1)">Left
                Breast
                Feed</button>
            <button type="button" id="btnRightBreast" class="btn btn-secondary" onclick="feedUpdateBreastSide(2)">Right
                Breast
                Feed</button>
        </div>
        <div class="col feed-col">
            <div class="row">
                <div class="col feed-col-centering">
                    <button type="button" id="btnLeftPump" class="btn btn-secondary"
                        onclick="feedUpdatePumpSide(1)">Left
                        Pump</button>
                    <button type="button" id="btnRightPump" class="btn btn-secondary"
                        onclick="feedUpdatePumpSide(2)">Right
                        Pump</button>
                </div>
                <div class="col feed-col-centering">
                    <button type="button" id="btnBottleBreast" class="btn btn-secondary"
                        onclick="feedUpdateBottleType(1)">Bottle Breast</button>
                    <button type="button" id="btnBottleFormula" class="btn btn-secondary"
                        onclick="feedUpdateBottleType(2)">Bottle Formula</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row feed-row">
        <div class="col feed-col" id="divDuration">
                <button type="button" id="btnDurationStart" class="btn btn-secondary"
                    onclick="feedDurationStart()">Start</button>
                <button type="button" id="btnDurationStop" class="btn btn-secondary"
                    onclick="feedDurationStop()">Stop</button>
                <input id="textDurationEntry" type="number" name="btnDurationEntry" style="text-align: right;" oninput="feedDurationChange(this.value)">
                <text>min</text>
        </div>
        <div class="col feed-col" id="divQuantity">
            <div class="row">
                <div class="col">
                    <h5>Begin</h5>
                    <div>
                        <input id="textQuantityBeginEntry" type="number" name="textQuantityBeginEntry"
                            style="text-align: right;" oninput="feedQuantityBeginChange(this.value)">
                        <text class="labelPrefLiquid"></text>
                    </div>
                </div>
                <div class="col">
                    <h5>End</h5>
                    <div>
                        <input id="textQuantityEndEntry" type="number" name="textQuantityEndEntry"
                            style="text-align: right;" oninput="feedQuantityEndChange(this.value)">
                        <text class="labelPrefLiquid"></text>
                    </div>
                </div>
                <div class="col">
                    <h5>Final</h5>
                    <div>
                        <input id="textQuantityDiffEntry" type="number" name="textQuantityDiffEntry"
                            style="text-align: right;" oninput="feedQuantityDiffChange(this.value)">
                        <text class="labelPrefLiquid"></text>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-3">
    <h2 class="text-light bg-secondary">Time</h2>
    <div class="form-group">
        <label for="inputDateTime">Select a date and time:</label>
        <input type="datetime-local" id="inputDateTime" onChange="feedUpdateDateTime(this.value)" />
    </div>
</div>

<div class="container mt-3">
    <h2 class="text-light bg-secondary">Comments</h2>
    <div class="form-group">
        <label for="comment">Comment:</label>
        <textarea class="form-control" rows="5" id="textComment" onChange="feedUpdateComment(this.value)"></textarea>
    </div>
</div>

<div class="container mt-3">
    <button type="button" id="btnDone" class="btn btn-success" onClick='feedAddFeedEvent(true)' disabled>Done</button>
    <button type="button" id="btnOneMore" class="btn btn-primary" onClick='feedAddFeedEvent(false)' disabled>One
        More</button>
</div>

<div class="container mt-3">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">DateTime</th>
                <th scope="col">Name</th>
                <th scope="col">Left Breast (min)</th>
                <th scope="col">Right Breast (min)</th>
                <th scope="col" class="labelPrefLiquid">Left Pump Qty (ml)</th>
                <th scope="col" class="labelPrefLiquid">Right Pump Qty (ml)</th>
                <th scope="col" class="labelPrefLiquid">Bottle Breast Qty (ml)</th>
                <th scope="col" class="labelPrefLiquid">Bottle Formula Qty (ml)</th>
                <th scope="col">Comment</th>
                <th scope="col">Delete</th>
                <th scope="col">Save</th>
            </tr>
        </thead>
        <tbody>
            {% set currEvent = 0 %}
            {% for event in recentEvents %}
            {% set currEvent = event %}
            <tr>
                <td><input type="datetime-local" value="{{ event[2] }}" /></td>
                <td>{{ event[1] }}</td>
                <td>{{ event[3] }}</td>
                <td>{{ event[4] }}</td>
                <td>{{ event[6] }}</td>
                <td>{{ event[7] }}</td>
                <td>{{ event[9] }}</td>
                <td>{{ event[10] }}</td>
                <td><textarea class="form-control" rows="1">{{ event[12] }}</textarea></td>
                <td><button type="button" class="btn btn-danger"
                        onClick="feedDeleteFeedEvent({{ event[0]|safe }})">Delete</button></td>
                <td><button type="button" class="btn btn-success" disabled
                        onClick="feedSaveFeedEvent({{ event|safe }})">Save</button></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block scripts %}
<script src="/static/scripts/infanttracker-common.js"></script>
<script src="/static/scripts/infanttracker-feed.js" onload="feedDefaults({{ lastBaby }}, {{ prefs|safe }})"></script>
{% endblock %}